@import 'src/styles/variables';

:global {
  .rc-select {
    cursor: pointer !important;
    padding: 0;

    &-selector {
      border: none !important;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #0A93F5;
      padding-right: 24px;

      input {
        cursor: pointer;
      }
    }

    // ============== Dropdown ===============
    &-dropdown {
      font-size: 14px;
      line-height: 20px;
      
      & > div {
        padding: 8px 0px;
        background-color: $dark-blue-0;
        border-radius: 5px;
        border: none;
        overflow: hidden;
      }
    }

    // =============== Option ================
    &-item {
      background-color: $dark-blue-0;
      color: #FFFFFF;
      cursor: pointer;
      transition: background-color 200ms ease-in;
      padding: 4px 16px 4px 12px;

      // >>> Option
      &-option {
        .rc-select-item-option-state {
          display: none;
        }
        // ------- Active -------
        &-active {
          background: #3A4F62;
        }
      }
      // >>> Empty
      &-empty {
        text-align: center;
        color: #999;
      }

      &:hover {
        background-color: #536D85;
      }
    }

    &-show-arrow &-arrow {
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
    }
  }

  .rc-virtual-list-holder {
    max-height: 184px !important;
  }
}

.arrow {
  fill: #536D85;
}

