.root {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    border-radius: 4px;
    color: var(--white);
    max-height: 184px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    overflow-y: auto;
}

.item {
    transition: all .3s ease-in;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: var(--blue-1);
        cursor: pointer
    }

    .selected {
        background-color: var(--menu-background);
    }

    svg {
        fill: var(--white);
        width: 16px;
        height: 16px;
    }
}

.divider {
    margin: 4px 0;
    height: 1px;
    background-color: var(--blue-1);
}