@import 'src/styles/variables';

.root {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 15px;
  font-size: 16px;
  color: var(--primary);
  background: $light-blue;
  border-radius: 15px;
  margin-right: 10px;
}

.remove {
  opacity: 1;

  svg {
    margin-top: -2px;
    fill: $steel-blue;
  }

}

.root:hover .remove {
  opacity: 1;
}

.text {
  margin-right: 5px;
}
//
//.tagToken {
//  background-color: #B5CDAF;
//}
//
//.tagString {
//  background-color: #c9afcd;
//}
//
//.tagOperator {
//  text-transform: uppercase;
//}
