.root {
    display: flex;
    color: var(--blue-1);
    align-items: center;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;

    svg {
        fill: var(--blue-1);
    }

    &:disabled {
        cursor: not-allowed;

        svg {
            fill: var(--disabled-button);
        }
    }
}

.page {
    margin: 0px 8px;
    padding: 0px 8px;
    background-color: var(--gray-white);
    border: 1px solid var(--blue-3);
    border-radius: 2px;
    font-size: 16px;
    line-height: 18px;
}