@import 'src/styles/variables';

.root {
  display: flex;
}

.li {
  width: 100%;
  border-bottom: 1px solid $gray-4;

  &:hover {
    background: $light-blue-1;

  }
}

.ul {
  width: 100%;
}


.td, .moreMenu {
  padding-top: 14px;
  vertical-align: baseline;
  padding-left: 28px;
  padding-right: 28px;
}

.moreMenu {
  cursor: pointer;
}

.moreMenu > svg {
  position: relative;
  top: 6px;
}

.menuHeader > svg {
  margin-left: 8px;
  position: relative;
  bottom: 1px
}