.root {
  display: flex;
}

.moreMenu {
  cursor: pointer;
  padding-top: 14px;
  vertical-align: baseline;
  padding-left: 28px;
  padding-right: 28px;
}

.moreMenu > svg {
  position: relative;
  top: 6px;
}

.menuHeader > svg {
  margin-left: 8px;
  position: relative;
  bottom: 1px
}