.marker {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    padding: 2px 7px;
    border-radius: 30px;
    color: var(--white);
    background-color: var(--accent);
    cursor: pointer;
    transition: all .3s ease-in;

    svg {
        fill: var(--white);
        width: 16px;
        height: 16px;
    }

    &:hover {
        background-color: var(--accent-hovered);
    }

    &:active {
        background-color: var(--accent-pressed);
    }

    &.error {
        background-color: var(--red);
    }
}

.disabled {
    background-color: var(--disabled-button);
    pointer-events: none;
}