.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

.main {
  flex: 1;
  padding: 22px 32px 0px 34px;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.accountMenu {
  align-self: center;
}

.searchMain {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.actionBtn {
  color: #0a93f5;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.searchButton {
  margin-left: 24px;
}

.emptyContainer {
  padding-top: 16px;
  padding-bottom: 16px;
}
