.root {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.main {
  flex-grow: 1;
  height: 100vh;
  padding: 22px 32px 20px 34px;
}

.sidebar {
  flex-shrink: 0;
  height: 100vh;
}

.search {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.accountMenu {
  align-self: center;
}

.searchMain {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.actionBtn {
  color: #0a93f5;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.searchButton {
  color: #0a93f5;
  border: #0a93f5 1px solid;
  background: white;
  outline: none;
  margin-top: 4px;
  margin-left: 24px;
}

.emptyContainer {
  padding-top: 16px;
  padding-bottom: 16px;
}
