.root {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.main {
  flex-grow: 1;
  height: 100vh;
  padding: 22px 32px 20px 34px;
}

.sidebar {
  flex-shrink: 0;
  height: 100vh;
}

.search {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.accountMenu {
  align-self: center;
}

.searchMain {
  display: flex;
  width: 100%;
}