@import 'src/styles/variables';

.root {
  width: 100%;
  margin-bottom: 16px;

  :global {
    .rc-tabs {

      &-nav-list {
        display: flex;
        gap: 20px;
      }

      &-nav-operations {
        display: none;
      }

      // &-nav {
      //   display: flex;
      //   flex: none;
      //   position: relative;


      //   &-measure,
      //   &-wrap {
      //     transform: translate(0);
      //     position: relative;
      //     flex: auto;
      //     white-space: nowrap;
      //     overflow: hidden;
      //     display: flex;

      //     &-ping-left::before,
      //     &-ping-right::after {
      //       content: '';
      //       position: absolute;
      //       top: 0;
      //       bottom: 0;
      //     }
      //     &-ping-left::before {
      //       left: 0;
      //     }
      //     &-ping-right::after {
      //       right: 0;
      //     }

      //     &-ping-top::before,
      //     &-ping-bottom::after {
      //       content: '';
      //       position: absolute;
      //       left: 0;
      //       right: 0;
      //     }
      //     &-ping-top::before {
      //       top: 0;
      //       border-top: 1px solid red;
      //     }
      //     &-ping-bottom::after {
      //       bottom: 0;
      //       border-top: 1px solid red;
      //     }
      //   }

      //   &-list {
      //     display: flex;
      //     position: relative;
      //     transition: transform 0.3s;
      //   }

      //   // >>>>>>>> Operations
      //   &-operations {
      //     display: flex;

      //     &-hidden {
      //       position: absolute;
      //       visibility: hidden;
      //       pointer-events: none;
      //     }
      //   }

      //   &-more {
      //     border: none;
      //     background-color: transparent;
      //     padding: 0 10px;
      //     margin-bottom: 15px;
      //     font-size: 14px;
      //     white-space: nowrap;
      //     svg {
      //       fill: $steel-blue;
      //       margin-left: 10px;
      //     }
      //   }
      //   &-add {
      //   }
      // }

      &-tab {
        text-align: center;

        font-size: 16px;
        line-height: 24px;
        color: #536D85;

        padding-bottom: 12px;

        transition: all 200ms ease-in;
        cursor: pointer;

        &-btn,
        &-remove {
          border: 0;
          background: transparent;
        }

        &-btn {
          font-weight: inherit;
        }

        &-remove {
          &:hover {
          }
        }

        &-active {
          color: #0A93F5;

          .tabCount {
            color: #0A93F5;
          }
        }

        &:hover {
          color: #0A93F5;

          .tabCount {
            color: #0A93F5;
          }
        }
      }

      &-ink-bar {
        position: absolute;
        pointer-events: none;
        bottom: 0px;
        height: 4px;
        background-color: #0A93F5;

        &-animated {
          transition: all 0.2s;
        }
      }

      &-extra-content {
        flex: none;
      }
    }

  }
}

.tabTitle {
}

.tabCount {
  font-weight: 700;
  color: #243B50;
  transition: all 200ms ease-in;
}

:global {
  .rc-tabs-dropdown {
    position: absolute;
    background-color: $page-background;
    border: 1px solid black;
    max-height: 200px;
    width: 222px;
    overflow: auto;

    &-hidden {
      display: none;
    }

    &-menu {
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {
        padding: 10px 10px;
         &:hover {
           background-color: $gray-5;
         }

        &-selected {
          background: $gray-5;
        }

        &-disabled {
          opacity: 0.3;
          cursor: not-allowed;
        }
      }
    }
  }
}
