@import 'src/styles/variables';

.dragger.dragger {
  background: #F9FDFF;
  border-radius: 24px;
  border: 2px dashed #90B3C7;
  text-align: center;

  & :global(.ant-upload-btn) {
    padding: 0;
  }

  & :global(.ant-upload-drag-container) {
    padding: 45px 0 40px;
  }
}

.uploadIcon {
  margin-bottom: 30px;
  font-size: 70px;
  color: $steel-blue;
}

.uploadSupported {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 8px;
}

.uploadDragDropDescription {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 24px;
}
