.block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.select{
    width: 45%;
    border-radius: 5px;
}

.iconButton{
    vertical-align: middle;
}

