.table {
    //   display: flex;
    //   flex-wrap: wrap;
    width: 100%;
    height: 90%;
}
  
.headTable {
    height: 55px;
    background: #fafafa;
    font-weight: 500;
    padding-top: 15px;
}
  
.dividerHeader {
    height: 90%;
    position: absolute;
    right: 0;
}
  
.columnTable{
    padding-left: 10px;
}

.toolbar {
    padding-bottom: 20px;
}

.main {
    // padding: 0 30px;
    flex-grow: 1;
    display: flex;
}
  
.leftPanel {
    // height: 700px;
    // height: 75vh;
    height: 100%;
    // overflow-y: auto;
    transition: width 300ms;
    position: relative;
}

.rightPanel {
    padding-left: 18px;
    width: 30%;
   // padding-left: 18px;
}

.leftPanelWide {
    composes: leftPanel;
    width: 100%;
}
  
.leftPanelSlim {
    composes: leftPanel;
    width: 70%;
}
  