@import 'src/styles/variables';

.titleWrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-bottom: 8px;

  svg {
    fill: $primary;
    margin-right: 10px;
  }
}

.title {
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    color: $cyan;
    font-weight: bold;
  }
}

.tag {
  margin-right: 4px;
}
