.container {
    display: flex;
    background: var(--gray-white);
    border: 1px solid var(--blue-3);
    border-radius: 8px;
    padding: 10px 32px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.pageSizeContainer {
    margin-left: 32px;
    display: flex;
}

.pageSize {
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-1);
    margin: 0px;
    margin-right: 6px;
}

.select {
    width: 42px;
}