.root {
  padding: 8px 10px;
  border: 1px solid var(--disabled-button);
  border-radius: 8px;
  background-color: var(--gray-white);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.separator {
  height: 24px;
  width: 0;
  border-left: 1px solid #90B3C7;
  margin: 0 24px;
}

.button {
  color: var(--primary);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 0 0 0 10px;

  cursor: pointer;

  svg {
    margin-right: 10px;
    fill: var(--blue-1);
  }
}

.sectionContainer {
  display: flex;
}

.iconButton {
  cursor: pointer;
  margin: 0 8px;
  padding: 0px;
  display: flex;
  align-items: center;

  svg {
    fill: var(--blue-1);
  }

  &:disabled {
    cursor: not-allowed;

    svg {
      fill: var(--disabled-button);
    }
  }
}

.actions {
  padding-left: 24px;
  padding-top: 5px;
  color: var(--blue-1);
}
