
$gray-0: #272727;
$gray-1: #333333; // use $primary
$gray-2: #666666;
$gray-3: #999999;
$gray-4: #E5E5E5;
$gray-5: #C4C4C4;

$dark-blue-0: #243B50;
$dark-blue-1: #364E64;

$steel-blue: #90B3C7;
$steel-blue-1: #B8D3E2;

$light-blue: #D3E9F5;
$light-blue-1: #e9f4fa;

$cyan: #0A93F5;

$midnight-gray: #393e42;

$white: #fff;

$primary: $gray-1;
$page-background: $white;
$background: $white;

$sidebar-background: $dark-blue-0;
$sidebar-color: $light-blue;
$sidebar-header: $light-blue;

$disabled-color: #888888;
