@import 'normalize';
@import 'fonts';
@import 'select';
@import 'variables';

.body {
  background-color: var(--white);
  color: var(--primary);
  font-size: 14px;
  line-height: 130%;
}

#root {
  height: 100%;
}

iframe {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

.ant-modal-content {
  border-radius: 24px;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.header {
  min-height: 68px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 22px 32px 0px 34px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.closeSideMenuButton {
  width: 100%;
  margin-bottom: 24px;
}

.menuSection {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.menuSectionHeader {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;

  > svg {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
}

.sidebar-link {
  color: var(--primary);
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.active {
    color: var(--accent);
  }

  &:hover {
    color: var(--accent);
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.user-dropdown {
  margin-left: 32px;
}

.user-dropdown-content {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  transition: all .3s ease-in;
  border-radius: 4px;

  svg {
      fill: var(--blue-1);
      transition: all .3s ease-in;
  }

  .avatar {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 16px;
      margin-right: 16px;
  }
  
  .marker {
      margin-right: 8px;
  }

  &_opened {
      background-color: #F0F9FF;
      border-radius: 4px;

      svg {
          fill: var(--accent);
          transform: scale(-1);
      }
  }
}

.main-pagination {
  display: flex;
  background: var(--gray-white);
  border: 1px solid var(--blue-3);
  border-radius: 8px;
  padding: 10px 32px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.page-size {
  &-container {
    margin-left: 32px;
    display: flex;
  }

  &-label {
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-1);
    margin: 0px;
    margin-right: 6px;
  }

  &-select {
    width: 42px;
  }
}

.toolbar-section {
  display: flex;
}