@import 'src/styles/variables';

.root {
  border-bottom: 1px solid $gray-4;
  background-color: transparent;

  &:focus {
    //border: 2px solid var(--primary);
    //padding: 5px;
    background: $light-blue-1;
    border-radius: 10px;
  }
}

.minimized {
  padding: 10px 10px 12px 10px;
  border-bottom: none;
  &:focus {
    //border: 2px solid var(--primary);
    //padding: 5px;
    background: transparent;
  }
  &:hover{
    background: $light-blue-1;
  }
}

.bigroot {
  padding: 10px 10px 30px 10px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 16px;
}

.smallHeader {
  margin-bottom: 8px;
}

.titleWrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;

  svg {
    fill: var(--primary);
    margin-right: 10px;
  }
}

.searchTerm {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 8px;
  margin-bottom: 8px;
  background: $light-blue;

  span {
    padding-left: 8px;
    font-weight: bold;
  }
}

.searchTerms {
  display: flex;
  margin-bottom: 16px;
}

.dictionaries {
  display: flex;
  flex-wrap: wrap;
}

.dictionary {
  background: linear-gradient(180deg, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 12px;
  color: $gray-2;
  padding: 4px 8px;
  margin-right: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.dictionaryIcon {
  fill: $gray-2;
  margin-right: 10px;
}

.title {
  color: var(--accent);
  font-weight: bold;
  font-size: 16px;
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
  cursor: pointer;
}

.type {
  padding: 0 4px;
  background-color: var(--accent);
  font-weight: bold;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  color: $white;
}

.propWrapper {
  white-space: nowrap;
}

.prop {
  font-size: 12px;
  color: $gray-3;
  margin-left: 10px;
}

.propValue {
  font-size: 13px;
  color: var(--primary);
}

.paragraphWrapper {
  display: flex;
  align-items: stretch;

}

.paragraph {
  margin: 0 0 4px;
  padding-left: 5px;
}

.snippets {
  display: flex;
}

.type {
  background: var(--primary);
  border-radius: 2px;
  padding: 0 10px;
  width: 40px;
}

.snippet {
  background-color: $light-blue;
  border-radius: 12px;
  padding: 4px 12px;
  color: darkblue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 8px;
}