.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.document {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
.pagination {
  flex-shrink: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}
