.tabs {
  > div::before {
    border-bottom: none !important;
  }
}

.tabHeader {
  font-size: 18px;
  line-height: 21px;
  color: var(--primary);
  font-style: normal;
  font-weight: bold;

  > svg {
    margin-right: 12px;
    position: relative;
    top: 1px;
  }
}

.root {
  padding-top: 32px;
}

.paginator{
  position: absolute;
  bottom: 0;
  width: calc(100% - 66px);
  display: flex;
  justify-content: center;
  padding-bottom: 69px;
}