@import 'src/styles/variables';

$menu-width: 210px;

.root {
  width: 72px;
  color: $sidebar-color;
  left: 0;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  z-index: 4;
  background-color: $sidebar-background;
  display: flex;
  flex-direction: column;
}

.sidebarcontainer {
  display: flex;
  position: relative;
  max-height: calc(100vh - 68px);
}

.sidemenucontainter {
  padding: 16px;
  background-color: #EEEEEE;
  flex-direction: column;
  opacity: 0;
  transition: all .3s ease-in-out;
  margin-left: -$menu-width;
  z-index: 2;
  overflow: hidden;
  width: 210px;
  max-width: 210px;

  &.openedMenu {
    margin-left: 0px;
    opacity: 1;
    overflow: auto;
  }
}

.sidebarlink {
  color: #243B50;
  font-size: 16px;
  line-height: 24px;

  &.active {
    color: $cyan;
  }

  &:hover {
    color: $cyan;
  }
}

.closeSideMenuButton {
  margin-bottom: 24px;
  width: 100%;
}

.divider {
  width: 153px;
  border: 1px solid #90b3c7;
  margin-top: 24px;
}

.menuSection:not(:last-child) {
  margin-bottom: 24px;
}

.menuSectionHeader {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;

  > svg {
    fill: #243B50;
    margin-right: 8px;
  }
}

.tabs {
  margin-left: 6px;

  :global(.ant-tabs-content-holder) {
    display: none;
  }

  :global(.ant-tabs-ink-bar) {
    width: 4px !important;
  }

  :global(.ant-tabs-tab) {
    padding: 0 18px !important;
  }

  :global(.ant-tabs-nav-wrap) {
    z-index: 4;
  }
}

.rail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  border-radius: 2px;
  background-color: #E4E4E4;
}
