@import 'src/styles/variables';

$entry-padding-x: 30px;

.root {
  width: 100px;
  background-color: $sidebar-background;
  color: $sidebar-color;
  left: 0;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.root.opened {
  width: 300px;
}

.wrapper {
  overflow-x: hidden;
  height: 100vh;
}

.jnjlogo {
  background: #D51900;
  padding: 19px;
}

.menuItem {
  padding: 34px 34px 0;
  cursor: pointer;
}

.menuItem:hover {
  filter: brightness(200%);
}

.sidebarcontainer {
  display: flex;
}

.sidemenucontainter {
  width: 216px;
  padding-top: 36px;
  background-color: #536D85;
}

.sidemenuinnercontainter {
  padding-left: 30px;
  padding-right: 30px;
}

.sidemenuheader {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.sidebarlink, .sidebarlink:active, .sidebarlink:visited {
  color: white;
}

.sidebarlink:hover {
  color: #0A93F5;
}

.sidebarlink {
  margin-left: 14px;
  position: relative;
  bottom: 3px
}

.divider {
  width: 153px;
  border: 1px solid #90B3C7;
  margin-top: 24px;
}

.buttonscontainer {
  height: 100vh;
  position: fixed;
}

.activeSvg > svg {
  fill: white !important;
}

.menuItem > svg {
  fill: #90B3C7;
}

.menuItem > svg:hover {
  fill: #90B3C7;
  opacity: 0.9;
}
.menuItemHeader {
  margin-bottom: 20px;

}
.menuItemHeader, .menuItemHeader > a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  /* White */

  color: #FFFFFF;
}

.menuItemHeader > a:hover{
  color: #90B3C7;
}