@import 'src/styles/variables';

.root {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 200ms ease-in;

    > svg {
        fill: $white;
    }

    &.xs {
        width: 24px;
        height: 24px;
    }

    &.s {
        width: 32px;
        height: 32px;
    }

    &.m {
        width: 36px;
        height: 36px;
    }

    &.l {
        width: 40px;
        height: 40px;
    }
}

.primary {
    background-color: $cyan;

    &:hover {
        background-color: $cyan-hovered;
    }

    &:active {
        background-color: $cyan-pressed;
    }

    &.disabled {
        background-color: #BBD7E7;
        pointer-events: none;
    }
}

.secondary {
    border: 1px solid $cyan;

    > svg {
        fill: $cyan;
    }

    &:hover {
        border-color: $cyan-hovered;

        > svg {
            fill: $cyan-hovered;
        }
    }

    &:active {
        border-color: $cyan-pressed;

        > svg {
            fill: $cyan-pressed;
        }
    }

    &.disabled {
        border-color: #BBD7E7;
        pointer-events: none;

        > svg {
            fill: #BBD7E7;
        }
    }
}