@import 'src/styles/variables';

.headTable {
    height: 40px;
    font-weight: 500;
    // padding-top: 15px;
    display: flex;
    border-bottom: 1px solid #536D85;
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: $white;
  }

.table{
    display: flex;
    height: 75vh;
}

.columnTable{
    height: 100%;
    padding: 8px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #243B50;
    transition: background-color 200ms linear;
    border: 1px solid transparent;

    &:not(.dragging):hover {
        background-color: #FAFBFC;
    }
}

thead tr th {
    position: sticky;
    top: 0; 
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

thead{
    transform: translate3d(0, 0, 0);
}

.draggableColumnHeader, .cursor {
    cursor: move;
  }

.draggableDevider, .cursor {
    cursor: ew-resize;
  }

// .draggingColumnHeader{
//     border: 1px solid blue;
//     // border-left: 1px solid blue;
//     // border-top: 1px solid blue;
//     // border-right: 1px solid blue;
// }

.dragging{
    position: relative;
    z-index: 100;
    border: 1px solid #90B3C7;
    background-color: $white;
}

.draggableRow{
    cursor: ns-resize;
}

.tableRow{
    border-bottom: 1px solid #EEEEEE;
}

.tableCell {
    height: 64px;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    vertical-align: top;
    font-size: 14px;
    line-height: 20px;
    color: #243B50;
    transition: background-color 200ms linear;

    &:hover {
        background-color: #FAFBFC;
    }
}

.itemMenu {
    position: absolute;
    right: 8px;
    top: 10px;
}

.lastHeaderCell {
    padding-right: 28px;
}