.table {
    //   display: flex;
    //   flex-wrap: wrap;
    width: 100%;
    height: 90%;
  }
  
  .headTable {
    height: 55px;
    background: #fafafa;
    font-weight: 500;
    padding-top: 15px;
  }
  
  .rowTable {
    // padding-top: 15px;
    border-bottom: 1px solid rgb(240, 240, 240);
  }
  
  .rowTable:hover {
    background: #fafafa;
  }
  
  .dividerHeader {
    height: 90%;
    position: absolute;
    right: 0;
  }
  
  .columnTable{
    padding-left: 10px;
  }
  