.root {
  width: 100%;
  display: flex;
  padding-top: 32px;
  padding-left: 32px;
}

.searchField {
  flex-grow: 1;
  margin-right: 20px;
}

.searchButton {
  background: var(--accent);
  border: none;
  color: var(--white);
  outline: none;
}
