.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

.main {
  flex-grow: 1;
  height: 100%;
}

.sidebar {
  flex-shrink: 0;
  height: 100%;
}
