@import 'src/styles/variables';

.type {
  background-color: #90B3C7;
  color: $white;

  svg {
    fill: $white;
  }

  &:hover {
    background-color: #536D85;
  }

  &:active {
    background-color: #0069B4;
  }
}
