.type {
  background-color: #90B3C7;
  color: var(--white);

  svg {
    fill: var(--white);
  }

  &:hover {
    background-color: var(--blue-1);
  }

  &:active {
    background-color: var(--accent-pressed);
  }
}
