@import 'src/styles/variables';

.type {
  padding: 2px 8px;
  border-radius: 10px;
  background-color: #90B3C7;
  color: $white;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  overflow-wrap: normal;
  text-align: center;
  display: inline-flex;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: #536D85;
  }
}
