@import 'src/styles/variables';

.statusWrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.iconError {
  color: $danger-color;
  font-size: 22px;
}

.iconSuccess {
  color: $success-color;
  font-size: 24px;
}

.iconCancel {
  color: $steel-blue;
  font-size: 24px;
}

.buttonCancel {
  padding: 0;
  min-width: 0;
  width: auto;
  height: auto;
}
