.root {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  transition: all 200ms ease-in;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }

  .leftIcon {
    margin-right: 8px;
  }

  .rightIcon {
    margin-left: 8px;
  }
}

.large {
  padding: 12px 24px;
}

.small {
  padding: 6px 16px;
}

.xs {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 20px;

  .leftIcon {
    margin-right: 4px;
  }

  .rightIcon {
    margin-left: 4px;
  }
}

.primary {
  background-color: var(--accent);

  svg {
    fill: var(--white);
  }

  &:focus, &:active {
    background-color: var(--accent-pressed);
  }
  &:hover {
    background-color: var(--accent-hovered);
    cursor: pointer;
  }
  &:disabled {
    background-color: var(--disabled-button);
    cursor: not-allowed;
  }
}

.secondary {
  background-color: var(--white);
  color: var(--accent);
  border: 1px solid var(--accent);

  svg {
    fill: var(--accent);
  }

  &:hover {
    color: var(--accent-hovered);
    border: 1px solid var(--accent-hovered);

    svg {
      fill: var(--accent-hovered);
    }
  }

  &:active, &:focus {
    color:var(--accent-pressed);
    border: 1px solid var(--accent-pressed);

    svg {
      fill: var(--accent-pressed);
    }
  }

  &:disabled {
    border: 1px solid var(--disabled-button);
    color: var(--disabled-button);

    svg {
      fill: var(--disabled-button);
    }
  }
}

.clear {
  padding: 0px;
  color: var(--accent);

  svg {
    fill: var(--accent);
  }

  &.xs {
    font-weight: normal;
  }

  &:hover {
    color: var(--accent-hovered);

    svg {
      fill: var(--accent-hovered);
    }
  }

  &:active, &:focus {
    color:var(--accent-pressed);

    svg {
      fill: var(--accent-pressed);
    }
  }

  &:disabled {
    color: var(--disabled-button);

    svg {
      fill: var(--disabled-button);
    }
  }
}

.icon {
  padding: 5px;
  svg {
    fill: var(--primary);
  }

  &:focus {
    outline: none;
  }
}
