@import 'src/styles/variables';

.root {
  display: flex;
}

.iconButton {
  cursor: pointer;
  margin: 0 8px;
  padding: 0px;
  display: flex;
  align-items: center;

  svg {
    fill: #536D85;
  }
}

.iconButton.active {
  svg {
    fill: $cyan;
  }
}
