@import '../../../../../../styles/variables';

.fileType {
  width: 40px;
  height: 32px;
  padding: 0 4px;
  line-height: 32px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: $white;
  background-color: $dark-blue-0;
  white-space: nowrap;
  border-radius: 4px;
}